.CartSummaryContainer {
  align-self: flex-end;
  font-family: 'Roboto';
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.spanOrderTotal {
  font-weight: bold;
  font-family: 'Roboto';
  color: #616e7c;
}
.checkout {
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  font-weight: bold;
  font-family: 'Roboto';
  background-color: #0b69ff;
  text-align: center;
}
